body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
  color: #d9d9d9;
}

.sidebar .nav .nav-item .nav-link {
  color: #fdfdfd;
}
/* Hide Unlayer branding */
#unlayer-editor .unlayer-branding {
  display: none !important;
}
.gBWltW .blockbuilder-branding {
  display: none !important;
}

/* Email Editor */

